.git
.gitignore
.vscode
.vs
.idea
__pycache__
*.pyc
*.pyo
*.egg-info
dist
build
*.user
CMakeLists.txt.user*
venv
env
node_modules
.DS_Store
*.tmp
*.o
*.a
*.so
CMakeFiles
cmake_install.cmake
Makefile
*.ninja
.ninja_log
.ninja_deps
CMakeCache.txt
*.qmlc
